*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}

.form{
    padding:40px;
    text-align: center;
}

